* {
  padding: 0;
  margin: 0;
}

body {
  color: #4D4D4D;
  background: #48A7DD;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

hr {
  margin: 10px 0;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

}
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

div#roof {
  text-align: center;
  width: 100%;
  background-color: #48A7DD;
}

div#roof img {
  height: 120px;
  width: 180px;
  background-color: #48A7DD;
}

div.headlineSuperscript {
  color: #48A7DD;
  font-size: 1.25em;
}
div.headline {
  font-size: 1.5em;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: #48a7dd;
}

section {
  padding-left: 0;
  padding-top: 5%;
  padding-right: 0;
  padding-bottom: 30%;
  min-height:100%;
}

section.textJustify {
  text-align: justify;
}

.top.textAlignLeft {
  text-align: left !important;
}

div.panel.borderless {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.activeAddress {
  background-color: #CCF2FF;

}

div.panel .panel-body {
  padding: 0.35em;
}

div.panel .panel-body .leftAlign {
  text-align: left !important;
}

div.userPanel .panel-body .form-group{
  margin-bottom: 0;
}

div.addressPanel {
  font-size: 1.25em;
  border-color: #FFFFFF;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div.firstPanel.addressPanel .panel-body .addressPanelLabel {
  color: #a5a4a4;
  font-size: 0.75em;
}

div.addressPanel .panel-body .addressPanelLabel {
  color: #a5a4a4;
  font-size: 0.85em;
}

div.addressPanel .panel-body .addressPanelLabel label {
  font-weight: 500;
}

span.glyphicon-ok,
span.glyphicon-remove {
  display: none;
}

.form-control {
  padding: 0;
  color: #000000;
}

.has-success .form-control {
  border-color: #48a7dd !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.has-error .form-control {
  border-color: #ed1c25 !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

span.help-block {
  font-style: italic;
}

input.form-control[readonly] {
  background-color: inherit;
}

input.borderless,
button#stateUSdropdown {
    font-size: 1em;
    box-shadow: none;
    border-radius: 0px;
    border-top:0;
    border-right:0;
    border-bottom: 2px solid #48a7dd;
    border-left:0;
    width: 100%;
}

input.borderless-center {
    text-align: center;
    box-shadow: none;
    border-radius: 0px;
    border-top:0;
    border-right:0;
    border-left:0;
    width: 100%;
}

button#stateUSdropdown {
    padding-top: 17px;
}

img.imgDongle {
  width: 40%;
  max-width: 300px;
  max-height: 300px;
}

div.loadingModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: darkgray;
  opacity: 0.8;
}
img.imgSpinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  background: transparent;
}

ul[aria-labelledby="stateUSdropdown"].dropdown-menu {
  height: 12em;
  overflow: scroll;
  min-width: 0;
  /*
  right: 0;
  left: initial;
  */
}

div.userStyle.userName {
  font-size: 1.75em;
  text-align: left;
  color: #000000;
}

div.userStyle.userEmail {
  font-size: 1.25em;
  text-align: left;
  color: #000000;
}


div.errorMsg {
  color: red;
}

div.heightAdjust span.form-control-feedback {
  width: 88px !important;
}

span.help-block {
  text-align: left;
}
.has-success .help-block {
  color: #48A7DD;
}

.vertical-align {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.modal-content {
  border:none !important;
  border-radius: inherit;
}
.modal-header {
  border-bottom: none !important;
}

.modal-header.bg-primary {
  color: #000000 !important;
  background-color: #FFFFFF !important;
}

.modal-header button.close {
  display: none;
}

.modal-header .modal-title {
  text-align: center;
}

.modal-body {
  margin-bottom: 5% !important;
  text-align: center;
}
.modal-footer .buttonsBar {
  background: #FFFFFF;
  display: table;
  width: 100%;
  border-left: none !important;
  border-right: none !important;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
}

.checkbox label {
  float: left !important;
}
.heightAdjust {
  height:34px !important;
}

.top {
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
}

.wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

.disclaimer {
  color: #48A7DD;
  margin: 0px auto;
  text-align: center;
  margin-top: 40px;
}

.buttonsBar {
  color: #48A7DD;
  font-size: 1.25em;
  background: #FFFFFF;
  display: table;
  width: 100%;
  border-top: 1px solid gray;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
}

.buttonsBarPlusEdit {
  color: #48A7DD;
  font-size: 1em;
  font-weight: 600;
  background: #FFFFFF;
  display: table;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: initial;
  margin: 0px auto;
  text-align: center;
}

.buttonsBarPlusEdit :first-child.row {
  margin: 20px 0;
}

.buttonsBarMinusEdit {
  border-top: 1px solid gray;
  height: 50px;
  font-size: 1.10em;
  font-weight: 400;
}

.disclaimerDoneBtn {
  display: table;
  height: 100%;
  width: 100%;
}

.disclaimerDoneBtn:hover {
  background: #48A7DD;
}

.disclaimerDoneBtn:hover a {
  color: #FFFFFF;
}

.disclaimerDoneLink {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.centerBtn {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.leftBtn {
  display: table-cell;
  border-right: 1px solid gray;
  width: 50%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.leftBtnFlex {
  border-right: 1px solid gray;
  height: 100%;
  text-align: center;
  padding: 0;
}

.leftBtnFlex a {
  width: 100%;
}

.rightBtn {
  display: table-cell;
  width: 50%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.rightBtnFlex {
  height: 100%;
  text-align: center;
  padding: 0;
}

.rightBtnFlex a {
  width: 100%;
}

.leftBtn:hover, .rightBtn:hover, .centerBtn:hover,
.leftBtnFlex:hover, .rightBtnFlex:hover {
  color: #FFFFFF;
  background: #48A7DD;
  cursor: pointer;
}

.leftBtn:hover a, .rightBtn:hover a, .centerBtn:hover a,
.leftBtnFlex:hover a, .rightBtnFlex:hover a{
  color: #FFFFFF;
}

.useThisBtn {
  color: #48A7DD;
  border-color: #48A7DD;
}
