// ==========
// Layouts
// ==========

.wrap {
  @include container();
}

.site-header {
  font-size: 1.25em;
  background-color: $teal;
  border-bottom: 1px solid gray;
  text-align: center;
  height: 50px;
  width: 100%;
  display: table;
  .wrap {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
}

.content {
  @include span(16 of 16 last);
  @include clearfix;
  padding-bottom: 1rem;
  background: rgba(113, 218, 210, 0.8);
}

.useThisBtn {
  border: 1px;
  border-color: $semiDark;
}

.buttonsBar {
  font-size: 1.25em;
  background-color: $teal;
  display: table;
  width: 100%;
  border-top: 1px solid gray;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
}

.leftBtn {
  display: table-cell;
  border-right: 1px solid gray;
  width: 50%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.rightBtn {
  display: table-cell;
  width: 50%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
